* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    background-color: #052DF5;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
    width: 572px;
    max-width: 95%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
}

#login div {
    height: 33.3333%;
}

#login #first, #login #second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#login #first h1 {
    width: 240px;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 72px;
    color: #FFFFFF;
    color: #052DF5;
}

#login #first p {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    width: 430px;
    color: #052DF5;
}

#login #second img {
    width: 100px;
    height: 100px;
}

#login #second h3 {
    font-family: 'Roboto Mono', monospace;
    color: #052DF5;
    margin-top: -10px;
    margin-bottom: 10px;
}

#login #second #button_group_second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#login #second #button_group_second a {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
}

#login #second #button_group_second #connexion {
    padding: 15px 64px;
    background-color: #052DF5;
    color: #FFFFFF;
    margin-bottom: 5px;
}

#login #second #button_group_second #cancel {
    margin-top: 5px;
    padding: 15px 74px;
    background-color: #C4C4C4;
    color: #FFFFFF;
}

#login #third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#login #third p {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    width: 430px;
    color: #052DF5;
}

#login #third p:first-child {
    margin-top: 70px;
    margin-bottom: -70px;
}

#login #third p:last-child {
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
}